.u-container{
		padding:0;	
}
.u-left{float:left !important}
.u-right{float:right !important}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.container-fluid {
    min-width:320px;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

#head {
      width: 100%; 
      background: #006DA6;
}
#menu {
      width: 100%; 
      background: #006DA6;
}
#side {
      float: left; 
      width: 100%; 
      min-width:250px;
      height: 100%;  
      margin-top: -20px; 
      background: #006DA6;
}
#content {
    min-height:100%;
    float: left; 
    width: 100%; 
    height: 100%;
    background-color: #006DA6;
}
#contenttext {
    margin-top: -20px; 
    float: left; 
    width: 100%; 
    min-height : 500px;
    height: 100%;
    background-color: white;
    padding-bottom:100px;
}

#footer {
    width: 100%; 
    text-align: center;
    background-color:#006DA6;
    color:white;
    clear:both;
    padding:10px;
	/*position:absolute;*/
    bottom:0;
    
}

.link
{
   color:aqua;
   text-decoration: none; 
   background-color: none;
}

@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.login-btn {
  text-align:center;
  margin-top: 50px;
}

.button {
  line-height: 55px;
  padding: 0 30px;
  background: #004a80;
  color: #fff;
  display: inline-block;
  font-family: roboto;
  text-decoration: none;
  font-size: 18px;
}

.button:hover,
.button:visited {
  background: #006cba;
  color: #fff;
}

ul.ws-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
}

li.ws-menu  {
    float: left;
}

li.ws-menu a {
    display: block;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
}

li.ws-menu a:hover:not(.active-ws) {
    background-color: #555;
    color: white;
}

.active-ws {
    background-color: #006DA6;
    color: white;
}

p {
    white-space: nowrap;
}

body { padding-right: 0 !important;}

/* unset bs3 setting */
body.modal-open {
padding-right: 0px !important;
overflow-y: auto;
}
