<!-- Admin Tab --> 
  <div class="col-sm-4">
      <div class="loginmodal-container" style="margin-top: -10px; max-width: 100%">
        <h2><center><b>Control Panel</b></center></h2><br>
        <div class="panel panel-body" style="display: inline-block; width: 100%">
          <font size="4px">Signed in as:  <%= user.username %></font><br>
          <b>
          <a href="/signout" class="btn btn-primary btn-lg"><font color="white"> Sign Out</font></a></b><br>
        </div>
        <b><font size="4px"><a href="/profile">View Profile</a>
        <hr>
        <a href="/repass">Reset Password</a></font>
        <hr></b>
      </div>
  </div>
  <div class="col-sm-8">
      <center>
        <br><br><br>
        <h2><b>You're Admin</b></h2>
        <p>Foo Bar maybe contain the view/reset page</p>
      </center>
  </div>
