<!doctype html>
<!-- Admin Tab --> 
  <div class="col-sm-4">
      <div class="loginmodal-container" style="margin-top: -10px; max-width: 100%">
        <h2><center><b>Control Panel</b></center></h2><br>
        <div class="panel panel-body" style="display: inline-block; width: 100%">
          <font size="4px">Signed in as:  <%= user.username %></font><br>
          <b>
          <a href="/signout" class="btn btn-primary btn-lg"><font color="white"> Sign Out</font></a></b><br>
        </div>
        <b><font size="4px"><a href="/profile">View Profile</a>
        <hr>
        <a href="/repass">Reset Password</a></font>
        <hr></b>
      </div>
  </div>
  <div class="col-sm-8">
    <div class="loginmodal-container" style="margin-top: -10px; max-width: 100%">
      <center>
        <h2><b>Admin Menu</b></h2>
        <hr style="border-color: #cccccc">
      </center>

      <div class="row">
        <div class="features">
          <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
            <div class="media service-box">
              <div class="pull-left">
                <i class="fa fa-bar-chart"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Status</h4>
                <p>ตรวจสอบสถานะการให้บริการ</p>
                <a href="/status" class="btn btn-primary" style="margin-top: 0px; color: white"><i class="fa fa-paper-plane"></i> Click</a> 
              </div>
            </div>
          </div><!--/.col-md-6-->

          <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
            <div class="media service-box">
              <div class="pull-left">
                <i class="fa fa-user-circle"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">User Management</h4>
                <p>การจัดการเกี่ยวกับผู้ใช้งาน</p>
                <a href="/user" class="btn btn-primary" style="margin-top: 0px; color: white"><i class="fa fa-paper-plane"></i> Click</a> 
              </div>
            </div>
          </div><!--/.col-md-6-->

          <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
            <div class="media service-box">
              <div class="pull-left">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Globus Service</h4>
                <p>บริการส่งข้อมูลความเร็วสูง</p>
                <a href="/globus" class="btn btn-primary" style="margin-top: 0px; color: white"><i class="fa fa-exchange"></i> Click</a> 
              </div>
            </div>
          </div><!--/.col-md-6-->

          <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
            <div class="media service-box">
              <div class="pull-left">
                <i class="fa fa-calendar-check-o"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Service Management</h4>
                <p>การจัดการ Service ของผู้ใช้</p>
                <a href="/servicemanage" class="btn btn-primary" style="margin-top: 0px; color: white"><i class="fa fa-paper-plane"></i> Click</a> 
              </div>
            </div>
          </div><!--/.col-md-6-->
        </div><!-- /.features -->
      </div><!--/.row-->    
    </div>
  </div>
