<!doctype html>
<!-- Footer Page -->
<div style="font-size: 1.5em; padding: 0 20px 0 20px">
  <label>โครงการบริการการทางด่วนข้อมูลโดยใช้ระบบ L2VPN และ SDN บนโครงข่ายของสำนักงานบริหารเทคโนโลยีสารสนเทศเพื่อพัฒนาการศึกษา</label><br >
  สำนักงานบริหารเทคโนโลยีสารสนเทศเพื่อพัฒนาการศึกษา
  <br>
  Office of Information Technology Administration for Educational Development
  <br>
  <label>Copyright © 2017 UniNet</label> 
 </div>