  <!-- service -->
  <section id="services" >
    <div class="container">

      <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Our Services</h2>
        <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
      </div>

      <div class="row">
        <div class="features">
          <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
            <div class="media service-box">
              <div class="pull-left">
                <i class="fa fa-line-chart"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">UX design</h4>
                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
              </div>
            </div>
          </div><!--/.col-md-4-->

          <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
            <div class="media service-box">
              <div class="pull-left">
                <i class="fa fa-cubes"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">UI design</h4>
                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
              </div>
            </div>
          </div><!--/.col-md-4-->

          <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
            <div class="media service-box">
              <div class="pull-left">
                <i class="fa fa-pie-chart"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">SEO Services</h4>
                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
              </div>
            </div>
          </div><!--/.col-md-4-->
      
          <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
            <div class="media service-box">
              <div class="pull-left">
                <i class="fa fa-bar-chart"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">iOS App</h4>
                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
              </div>
            </div>
          </div><!--/.col-md-4-->

          <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
            <div class="media service-box">
              <div class="pull-left">
                <i class="fa fa-language"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Android App</h4>
                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
              </div>
            </div>
          </div><!--/.col-md-4-->

          <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
            <div class="media service-box">
              <div class="pull-left">
                <i class="fa fa-bullseye"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Win App</h4>
                <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
              </div>
            </div>
          </div><!--/.col-md-4-->
        </div>
      </div><!--/.row-->    
    </div><!--/.container-->
  </section><!--/#services-->
  
  <!-- Partner -->
  <section id="partner">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">

                <div id="carousel-partner" class="carousel slide text-center" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <p><img class="img-circle img-thumbnail" src="images/testimonial/01.jpg" alt=""></p>
                            <h4>Louise S. Morgan</h4>
                            <small>Treatment, storage, and disposal (TSD) worker</small>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="item">
                            <p><img class="img-circle img-thumbnail" src="images/testimonial/01.jpg" alt=""></p>
                            <h4>Louise S. Morgan</h4>
                            <small>Treatment, storage, and disposal (TSD) worker</small>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>

                    <!-- Controls -->
                    <div class="btns">
                        <a class="btn btn-primary btn-sm" href="#carousel-partner" role="button" data-slide="prev">
                            <span class="fa fa-angle-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="btn btn-primary btn-sm" href="#carousel-partner" role="button" data-slide="next">
                            <span class="fa fa-angle-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section><!--/#partner-->

  <!-- document -->
  <section id="document">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Document</h2>
        <p class="text-center wow fadeInDown">สามารถรับชมวิดีโอและดาวน์โหลดเอกสารได้ในส่วนนี้</p>
      </div>

      <div class="row">
        <div class="col-sm-6 wow fadeInLeft">
          <h3 class="column-title">Video Intro</h3>
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="//player.vimeo.com/video/58093852?title=0&amp;byline=0&amp;portrait=0&amp;color=e79b39" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-sm-6 wow fadeInRight">
          <h3 class="column-title">Download</h3>
          <p>เอกสารเกี่ยวกับระบบทางด่วนข้อมูลเครือข่ายเทคโนโลยีสารสนเทศเพื่อพัฒนาการศึกษา </p>
          <ul class="nostyle">
            <li><a href="/PDF/UniNet-Express-Guildline.pdf"><i class="fa fa-download"></i> กรอบการบริการ แนวทางปฏิบัติ และนโยบายการใช้งาน ระบบทางด่วนข้อมูลเครือข่าย UniNet</a></li>
        </div>
      </div>
    </div>
  </section><!--/#document-->

  <br><br>
  