<!doctype html>
  <!-- user_mgmt -->
  <section id="menu_admin" >
    <div class="container">

      <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Admin Menu</h2>
        <p class="text-center wow fadeInDown">เมนูสำหรับ Admin</p>
      </div>

      <div class="row">
        <div class="features">
          <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
            <div class="media service-box">
              <div class="pull-left">
                <i class="fa fa-bar-chart"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Status</h4>
                <p>ตรวจสอบสถานะการให้บริการ รวมไปถึงการตรวจสอบ Logs ต่างๆ</p>
                <a href="/status" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Click</a> 
              </div>
            </div>
          </div><!--/.col-md-6-->

          <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
            <div class="media service-box">
              <div class="pull-left">
                <i class="fa fa-user-circle"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">User Management</h4>
                <p>การจัดการเกี่ยวกับผู้ใช้งาน การแก้ไข การลบ และการอนุญาติให้ใช้งาน</p>
                <a href="/user" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Click</a> 
              </div>
            </div>
          </div><!--/.col-md-6-->

          <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
            <div class="media service-box">
              <div class="pull-left">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Email Management</h4>
                <p>การจัดการเกี่ยวกับ Email Template</p>
                <a href="/emailmanage" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Click</a> 
              </div>
            </div>
          </div><!--/.col-md-6-->

          <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
            <div class="media service-box">
              <div class="pull-left">
                <i class="fa fa-calendar-check-o"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Service Management</h4>
                <p>การจัดการเกี่ยวกับการใช้งาน Service ของผู้ใช้ การให้อนุญาตบริการและการถอนอนุญาตบริการ</p>
                <a href="/servicemanage" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Click</a> 
              </div>
            </div>
          </div><!--/.col-md-6-->

      </div><!--/.row-->    
    </div><!--/.container-->
  </section><!--/#menu_admin-->