<!doctype html>
  <!-- service -->
  <section id="services" >
    <div class="container">

      <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Our Services</h2>
        <p class="text-center wow fadeInDown">UniNet Express Lane Services มีบริการต่าง ๆ ดังนี้</p>
      </div>

      <div class="row">
        <div class="features">
          <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
            <div class="media service-box">
              <div class="pull-left">
                <i class="fa fa-bullseye"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">REST API</h4>
                <p>เปิดบริการในรูปแบบ REST API เพื่อรองรับการทำงานผ่าน Web Browser และ Mobile Application</p>
              </div>
            </div>
          </div><!--/.col-md-4-->

          <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
            <div class="media service-box">
              <div class="pull-left">
                <i class="fa fa-cubes"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">GridFTP</h4>
                <p>บริการโอนถ่ายข้อมูลขนาดใหญ่บน Globus</p>
              </div>
            </div>
          </div><!--/.col-md-4-->

          <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
            <div class="media service-box">
              <div class="pull-left">
                <i class="fa fa-line-chart"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Developing into 10 Gbps</h4>
                <p>กำลังพัฒนาเข้าสู่แบนด์วิธที่มากขึ้น 10 เท่า</p>
              </div>
            </div>

          </div><!--/.col-md-4-->
        </div>
      </div><!--/.row--> 

      <div class="row">
        <div class="features">
          <div class="col-md-6 col-sm-6 col-xs-8 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
            <div style="text-align: right;">
              <h3>Service Detail</h3>
              <p>รายละเอียดเกี่ยวกับบริการ</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-2 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
            <br>
            <div>
              <a href="/service" class="btn btn-primary btn-lg">Click</a>
            </div>
          </div>
        </div> <!-- /.features -->
      </div>

    </div><!--/.container-->
  </section><!--/#services-->

  <!-- service_activity -->
  <section id="service_activity">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Reserve a Service </h2>
        <p class="text-center wow fadeInDown">ร้องขอบริการ Express Lane Services หรือ Globus Transfer Services </p>
      </div>

      <p align="center">
        <div class="col-xs-12 visible-xs" style="text-align: center">
          <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#ReserveModal"><span class="fa fa-plus" aria-hidden="true"></span> Reserve New Express</button>
        </div>
        <div class="col-md-6 col-sm-6 hidden-xs" style="text-align: right">
          <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#ReserveModal"><span class="fa fa-plus" aria-hidden="true"></span> Reserve New Express</button>
        </div>
        <div class="visible-xs">&nbsp;</div>
        <div class="col-xs-12 visible-xs" style="text-align: center">
          <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#AddModal "><span class="fa fa-plus" aria-hidden="true"></span> Add New Globus Transfer</button>
        </div>
        <div class="col-md-6 col-sm-6 hidden-xs">
          <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#AddModal "><span class="fa fa-plus" aria-hidden="true"></span> Add New Globus Transfer</button>
        </div>
      </p>    

    </div><!--/.container-->
  </section><!--/#service_activity-->  

  <!-- MODAL ZONE -->
  <div class="modal fade" id="ReserveModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/addServiceac" method="post" onsubmit="return checkForm(this);">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3><center>Reserve New Express</center></h3>
          </div>
        
          <div class="modal-body">
            <div id="alert" class="hide" role="alert"></div>
            <label>Source: </label>
            <div class="container">
              <div class="row">
                <div class="dropdown col-xs-3">
                  <select class="form-control" name="resourceString1" id="resourceString1" onclick="showFn1()">
                    <option id="src_select" disabled="disabled"><- Please Select Item -></option>
                    <option value="00:13:F7:D1:D2:35">BSE(KMUTNB)</option>
                    <option value="00:26:5A:7C:03:AF">PYT1(Uninet)</option>
                    <option value="00:13:F7:D1:D2:2D">PYT2(CU)</option>
                    <option value="00:1C:F0:CF:EB:AE">SLA(MU)</option>
                    <option value="5C:D9:98:53:BF:0F">RMUTSB(RMUTSB)</option>
                    <option value="00:13:F7:D1:D2:2F">RMUTT(RMUTT)</option>
                    <option value="00:18:F8:0B:59:17">KKU(KKU)</option>
                  </select>
                </div>
                <div class="col-xs-9">
                  <button class="btn btn-default" id="show_src" disabled="disabled"></button> 
                  <button class="btn btn-default" id="show_srcip" disabled="disabled"></button> 
                  <input type="hidden" name="IP1" id="IP1"></input>
                </div>
              </div>  
            </div>

            <br>

            <label>Destination: </label>
            <div class="container">
              <div class="row">
                <div class="dropdown col-xs-3">
                  <select class="form-control" name="resourceString2" id="resourceString2" onclick="showFn2()">
                    <option id="dest_select" disabled="disabled"><- Please Select Item -></option>
                    <option value="00:13:F7:D1:D2:35">BSE(KMUTNB)</option>
                    <option value="00:26:5A:7C:03:AF">PYT1(Uninet)</option>
                    <option value="00:13:F7:D1:D2:2D">PYT2(CU)</option>
                    <option value="00:1C:F0:CF:EB:AE">SLA(MU)</option>
                    <option value="5C:D9:98:53:BF:0F">RMUTSB(RMUTSB)</option>
                    <option value="00:13:F7:D1:D2:2F">RMUTT(RMUTT)</option>
                    <option value="00:18:F8:0B:59:17">KKU(KKU)</option>
                  </select>
                </div>
                <div class="col-xs-9">
                  <button class="btn btn-default" id="show_dest" disabled="disabled"></button> 
                  <button class="btn btn-default" id="show_desip" disabled="disabled"></button> 
                  <input type="hidden" name="IP2" id="IP2"></input>
                </div>
              </div>  
            </div>

            <br>

            <label>Duration of services: </label>
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="input-daterange" id="datePickerNewXL">
                    <input type="text" style="text-align: center;" class="datePicker" name="startTime" id="startTime" placeholder="YYYY/MM/DD hh:mm" size="17" required="true">
                    &nbsp;to&nbsp;
                    <input type="text" style="text-align: center;" class="datePicker" name="endTime" id="endTime" placeholder="YYYY/MM/DD hh:mm" size="17" required="true">
                    &nbsp;&nbsp;<span class="fa fa-calendar btn-default"></span>
                  </div>
                </div>
              </div>
            </div>              
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success btn-md" value="addServiceac" >Submit</button> 
            <button type="button" class="btn btn-danger btn-md" data-dismiss="modal">Cancel</button> 
          </div><!--class="modal-footer"-->

        </form>
      </div><!--class="modal-content"-->
    </div><!--class="modal-dialog" role="document"-->
  </div> <!-- id="ReserveModal" --> 

  <script type="text/javascript">
    var Mac_table = [ 
        {
          name: 'KMUTNB',
          id: 'BSE',
          mac: '00:13:F7:D1:D2:35',
          ip: '10.10.1.1'
        },
        { 
          name: 'Uninet',
          id: 'PYT1',
          mac: '00:26:5A:7C:03:AF',
          ip: '10.10.1.2'
        },
        { 
          name: 'CU',
          id: 'PYT2',
          mac: '00:13:F7:D1:D2:2D',
          ip: '10.10.1.3'
        },
        {
          name: 'MU',
          id: 'SLA',
          mac: '00:1C:F0:CF:EB:AE',
          ip: '10.10.1.4'
        },
        {
          name: 'RMUTSB',
          id: 'RMUTSB',
          mac: '5C:D9:98:53:BF:0F',
          ip: '10.10.1.5'
        },
        {
          name: 'RMUTT',
          id: 'RMUTT',
          mac: '00:13:F7:D1:D2:2F',
          ip: '10.10.1.6'
        },
        {
          name: 'KKU',
          id: 'KKU',
          mac: '00:18:F8:0B:59:17',
          ip: '10.10.1.7'
        }];  

    function showFn1() {
      document.getElementById("show_src").innerHTML = document.getElementById("resourceString1").value;
      var mti = 0; //Mac table index
      while (mti < Mac_table.length){
        if(Mac_table[mti].mac == document.getElementById("resourceString1").value){
          document.getElementById("show_srcip").innerHTML = Mac_table[mti].ip; //display
          document.getElementById("IP1").value = Mac_table[mti].ip; //pass value
          mti = 0;
          break;
        }
        mti = mti + 1;
      }        
    }
    function showFn2() {
      document.getElementById("show_dest").innerHTML = document.getElementById("resourceString2").value;
      var mti = 0; //Mac table index
      while (mti < Mac_table.length){
        if(Mac_table[mti].mac == document.getElementById("resourceString2").value){
          document.getElementById("show_desip").innerHTML = Mac_table[mti].ip; //display
          document.getElementById("IP2").value = Mac_table[mti].ip; //pass value
          mti = 0;
          break;
        }
        mti = mti + 1;
      }  
    }
  </script> 

  <script>
    $('#resourceString1').on('click', function(){
      $("#resourceString2 option").each(function(){
        if ($(this).text() == $('#resourceString1 option:selected').text()) {
          $(this).attr('disabled',true);            
        }
        else {
          $(this).attr('disabled',false);
        }
        $('#src_select').attr('disabled',true);
      });
    });
    $('#resourceString2').on('click', function(){
      $("#resourceString1 option").each(function(){
        if ($(this).text() == $('#resourceString2 option:selected').text()) {
          $(this).attr('disabled',true);
        }
        else {
          $(this).attr('disabled',false);
        }
        $('#dest_select').attr('disabled',true);
      });
    });
  </script>

  <link href="css/daterangepicker.css" rel="stylesheet">

  <script src="js/moment.min.js"></script>
  <script src="js/daterangepicker.js"></script>
  <script type="text/javascript">
    var startTime;
    var endTime;
    $(document).ready(function($) { 
      $('#datePickerNewXL').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
          locale: {
              format: 'YYYY/MM/DD HH:mm:ss'
          }
        }, function(start, end) {
          $('#reportrange span').html(start.format('YYYY/MM/DD HH:mm:ss') + ' - ' + end.format('YYYY/MM/DD HH:mm:ss'));
          document.getElementById("startTime").value = start.format('YYYY/MM/DD HH:mm:ss');
          document.getElementById("endTime").value = end.format('YYYY/MM/DD HH:mm:ss');
        }
      );  
    });
  </script>
  
  <!-- MODAL FOR GLOBUS -->
  <div class="modal fade" id="AddModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">          
        <form enctype="application/json" action="/globus_result" method="post">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3><center> Add New Globus Transfer</center></h3>
          </div>

          <div class="modal-body">
            <div id="alert" class="hide" role="alert"></div>
            <div class="form-group">
              <label>Source File Address</label>
              <input type="text" class="form-control" name="globus_request[source]"  id="globus_request[source]" placeholder="gsiftp://elephant.globus.org/home/quser/1GBfile" required="true">
            </div>

            <div class="form-group">
              <label>Destination File Address</label>
              <input type="text" class="form-control" name="globus_request[destination]" id="globus_request[destination]" placeholder="gsiftp://donkey.globus.org/home/quser/1GBfile-elephant" required="true">
            </div>

            <div class="form-group">              
              <input type="text" class="hidden" name="user[id]" id="user[id]" value="<%=user.id%>">
            </div>

            <div class="form-group">
              <input type="text" class="hidden" name="user[username]" id="user[username]" value="<%=user.username%>">
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success btn-md" value="addService">Submit</button> 
            <button type="button" class="btn btn-danger btn-md" data-dismiss="modal">Cancel</button> 
          </div>

        </form>
      </div>
    </div>
  </div>
  <!-- End Modal dialog -->

  <!-- document -->
  <section id="document">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Document</h2>
        <p class="text-center wow fadeInDown">รับชมวิดีโอและดาวน์โหลดเอกสาร</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft">
          <h3 class="column-title">Video Intro</h3>
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="//player.vimeo.com/video/58093852?title=0&amp;byline=0&amp;portrait=0&amp;color=e79b39" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <br>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight">
          <h3 class="column-title">Download</h3>
          <p>เอกสารเกี่ยวกับระบบทางด่วนข้อมูลเครือข่ายเทคโนโลยีสารสนเทศ เพื่อพัฒนาการศึกษา </p>
          <p style="font-size: 1.25em"><a href="/PDF/UniNet-Express-Guildline.pdf"><span class="fa fa-download"></span> &nbsp; กรอบการบริการ แนวทางปฏิบัติ และนโยบายการใช้งาน ระบบทางด่วนข้อมูลเครือข่าย UniNet</a></p>
        </div>
      </div>
    </div>
  </section><!--/#document-->