<!-- Member Tab --> 
  <div class="col-sm-4">
      <div class="loginmodal-container" style="margin-top: -10px; max-width: 100%">
        <h2><center><b>Control Panel</b></center></h2><br>
        <div class="panel panel-body" style="display: inline-block; width: 100%">
          <font size="4px">Signed in as:  <%= user.username %></font><br>
          <b>
          <a href="/signout" class="btn btn-primary btn-lg"><font color="white"> Sign Out</font></a></b><br>
        </div>
        <b><font size="4px"><a href="/profile">View Profile</a>
        <hr>
        <a href="/repass">Reset Password</a></font>
        <hr></b>
      </div>
  </div>
  <div class="col-sm-8">
      <center>
        <br><br>
        <h2><b>Welcome Back!</b></h2>
        <br>
        <p>Do you want to reserve new service or manage your service?</p>
        <a href="/serviceac" class="btn btn-success btn-lg" style="margin-top: 10px"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Service Activities</a>
        <br><br><br>
        <p>If you want to download document, you can download it down here.</p>
        <a href="/document/pdf1" class="btn btn-success btn-lg" style="margin-top: 10px"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download</a>
      </center>
  </div>