<!doctype html>
<!-- Admin Menu -->
    <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
            <li class="scroll active"><a href="/">Home</a></li>
            <li class="scroll"><a href="#about">About</a></li>
            <li class="scroll"><a href="/status">Status</a></li>
            <li class="scroll"><a href="/user">User Management</a></li>
            <li class="scroll"><a href="/emailmanage">Email Management</a></li>
            <li class="scroll"><a href="/servicemanage">Service Management</a></li>
            <li class="scroll"><a href="/globus">Globus Service</a></li>
        </ul>
    </div>