<!doctype html>
<!-- Nav Bar Header -->
  <header id="header">
    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">          
          <div class="navbar-brand">
            <a href="/">
              <img class="hidden-xs" src="uninet_navbar.gif" style="display:inline-block; height:60px" alt="logo">&nbsp;&nbsp;&nbsp;
              <font class="hidden-xs" style="color: grey"><font style="color: darkblue">UniNet</font> Express Lane Services</font>
              <font class="visible-xs" style="color: grey;margin-top: -1px"><font style="color: darkblue">UniNet</font> Express Lane Services</font>
            </a>
          </div>

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>          
        </div>
        <% if(!req.isAuthenticated()) { %>
          <% include ./menu %>
        <% }else{ %>
          <% if(user.role===1){%>
            <% include ./menuadmin %>
          <%}else{ %>
            <% include ./menumem %>       
          <% } %>
        <% } %>
      </div><!--/.container-->
    </nav>
  </header>