<!doctype html>
<!-- Reset password Page -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title> UniNet Express Lane Services </title>
  <!-- core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">    
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/owl.carousel.css" rel="stylesheet">
  <link href="css/owl.transitions.css" rel="stylesheet">
  <link href="css/prettyPhoto.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->    

  <!-- Alternative Style -->
  <!-- <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"> -->

  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/mousescroll.js"></script>
  <script src="js/smoothscroll.js"></script>
  <script src="js/jquery.prettyPhoto.js"></script>
  <script src="js/jquery.isotope.min.js"></script>
  <script src="js/jquery.inview.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/main.js"></script>

  <!-- <link rel="shortcut icon" href="images/ico/favicon.ico"> -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
  
  <script>
    function checkForm(form) {      
      
      re = /^\w+$/;
      if(!re.test(form.username.value)) {
        document.getElementById("alert").className = "alert alert-danger";
        document.getElementById('alert').innerHTML = "<strong>Username must contain only letters, numbers and underscores!</strong>";
        form.username.focus();
        return false;
      }
      
      if(form.password2.value != "" ) {
        if(form.password2.value.length < 8) {
          document.getElementById("alert").className = "alert alert-danger";
          document.getElementById('alert').innerHTML = "<strong>Password must contain at least 8 characters!</strong>";
          form.password2.focus();
          return false;
        }
        if(form.password2.value == form.username.value) {
          document.getElementById("alert").className = "alert alert-danger";
          document.getElementById('alert').innerHTML = "<strong>Password must be different from Username!</strong>";
          form.password2.focus();
          return false;
        }
        re = /[0-9]/;
        if(!re.test(form.password2.value)) {
          document.getElementById("alert").className = "alert alert-danger";
          document.getElementById('alert').innerHTML = "<strong>Password must contain at least one number (0-9)!</strong>";
          form.password2.focus();
          return false;
        }
        re = /[a-z]/;
        if(!re.test(form.password2.value)) {
          document.getElementById("alert").className = "alert alert-danger";
          document.getElementById('alert').innerHTML = "<strong>Password must contain at least one lowercase letter (a-z)!</strong>";
          form.password2.focus();
          return false;
        }
        re = /[A-Z]/;
        if(!re.test(form.password2.value)) {
          document.getElementById("alert").className = "alert alert-danger";
          document.getElementById('alert').innerHTML = "<strong>Password must contain at least one uppercase letter (A-Z)!</strong>";
          form.password2.focus();
          return false;
        }
      } else {
        document.getElementById("alert").className = "alert alert-danger";
        document.getElementById('alert').innerHTML = "<strong>Please check that you've entered and confirmed your password!</strong>";
        form.password2.focus();
        return false;
      }

      mail = /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i;
      if(!mail.test(form.email.value)) {
        document.getElementById("alert").className = "alert alert-danger";
        document.getElementById('alert').innerHTML = "<strong>Email must contain only letters, numbers and underscores!</strong>";
        form.email.focus();
        return false;
      }
    }
    </script>
    <script>
      function check_pass() {
        if(document.getElementById('password2').value === document.getElementById('confirm_password2').value) { 
          document.getElementById('error_pass_msg').innerHTML = "";
        } else {
            if (document.getElementById('confirm_password2').value == "") {
              document.getElementById('error_pass_msg').innerHTML = "";
            } else {
              document.getElementById('error_pass_msg').innerHTML = "<p class='text-danger'>These passwords don't match. Try again?</p>";
            }
            return false;
          }
      } 
    </script>
</head><!--/head-->

<body id="home" class="homepage">

  <header id="header">
    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="uninet_navbar.gif" style="display:inline-block; height:60px" alt="logo">&nbsp;&nbsp;&nbsp;
          <font>UniNet Express Lane Services</font></a>
        </div>

        <% if (!req.isAuthenticated()) { %>
          <ul class="nav navbar-nav navbar-right">
            <li class="scroll active"><a href="/">Home</a></li>
            <li><a href="#" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Login</a></li>
          </ul>
        <% } else { %>
          <% if(user.role===1){%>
            <!-- Admin Menu -->
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="scroll active"><a href="/">Home</a></li>
                    <li class="scroll"><a href="/#about">About</a></li>
                    <li class="scroll"><a href="/status">Status</a></li>
                    <li class="scroll"><a href="/user">User Management</a></li>
                    <li class="scroll"><a href="/emailmanage">Email Management</a></li>
                    <li class="scroll"><a href="/servicemanage">Service Management</a></li>
                    <li class="scroll"><a href="/globus">Globus Service</a></li>
                </ul>
            </div>
          <% } else { %>
            <!-- Member Menu -->
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="scroll active"><a href="/">Home</a></li>
                    <li class="scroll"><a href="/#about">About</a></li>
                    <li class="scroll"><a href="/#status">Status</a></li>
                    <li class="scroll"><a href="/service">Services</a></li>
                    <li class="scroll"><a href="/serviceac">Service Activities</a></li>
                    <li class="scroll"><a href="/globus">Globus Service</a></li>
                    <li class="scroll"><a href="/document">Document</a></li>
                    <li class="scroll"><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
          <% } %>
        <% } %>

      </div><!--/.container-->      
    </nav>
    <!-- Login Modal -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="loginmodal-container">
          <h2><center><b>Sign in</b></center></h2><br>
          <form action="/signin" method="post">
            <input type="text" name="username" id="username" placeholder="Username" required="true" autofocus>
            <input type="password" name="password" id="password" placeholder="Password" required="true">
            <font size="10px"><b><input type="submit" name="signin" id="signin" class="btn btn-primary btn-lg" value="Sign In" style="margin-top: 5px"></b></font>
          </form>
          <div class="login-help" style="font-size: 16px">
            <a href="/signup">Register</a> - <a href="/repass">Forgot Password</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Login Modal -->
  </header>

  <section id="status">
    <div id="container"> 
      <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Reset Password</h2>
          <p class="text-center wow fadeInDown">เปลี่ยนรหัสผ่าน</p>
      </div>
    </div>
  </section>

  <section id="cta" class="wow fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="loginmodal-container" style="margin-top: -10px; max-width: 100%">
            
            <% if(!req.isAuthenticated()) { %>
              <center>
                <br>
                <h2><b>You're New?</b></h2>
                <p>Please Sign Up Now!</p>
                <a class="btn btn-primary btn-lg" style="color: white" href="/signup">Sign Up</a> 
                <br>
              </center>
            <% } else { %>
              <h2><center><b>Control Panel</b></center></h2><br>
              <div class="panel panel-body" style="display: inline-block; width: 100%">
                <font size="4px">Signed in as:  <%= user.username %></font><br>
                <b>
                <a href="/signout" class="btn btn-primary btn-lg"><font color="white"> Sign Out</font></a></b><br>
              </div>
              <b><font size="4px"><a href="/profile">View Profile</a>
              <hr>
              <a href="/repass">Reset Password</a>
              </font><hr></b>
            <% } %>            
          </div>
        </div> <!-- col-sm-4 -->
        <div class="col-sm-8">
          <div class="loginmodal-container" style="margin-top: -10px; max-width: 100%">
            <center><h2><label>Reset Password Form</label></h2></center>

            <form action="/repass" method="post" onsubmit="return checkForm(this);">
               <div class="row">
                <div class="form-group col-xs-8 col-xs-offset-2">
                  <% if(typeof(error) !== 'undefined') {%>
                    <div id="alert" class="alert alert-danger" role="alert"><strong><%= error %></strong></div>
                  <% } else { %>
                    <div id="alert" class="hide" role="alert"></div>
                  <% } %>
                </div>
                <div class="form-group col-xs-8 col-xs-offset-2">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" name="username" id="username" placeholder="Username" required="true">
                </div>
                <div class="form-group col-xs-8 col-xs-offset-2">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" name="email" id="email" placeholder="Email" required="true" onchange="check_email();">
                </div>
                <div class="form-group col-xs-8 col-xs-offset-2">
                  <label for="password2">Create a new password</label>
                  <input type="password" class="form-control" name="password" id="password2" placeholder="Password"  onchange="check_pass()" required="true">
                </div>
                <div class="form-group col-xs-8 col-xs-offset-2">
                  <label for="confirm_password2">Confirm your password</label>
                  <input type="password" class="form-control" name="confirm_password" id="confirm_password2" placeholder="Confirm Password"  onchange="check_pass()" required="true">
                  <div style="font-size: 0.75em" id='error_pass_msg'></div>
                </div>
                <div class="form-group col-xs-12">
                  <center>
                    <button type="submit" class="btn btn-primary btn-lg">Send</button>
                    &nbsp;&nbsp;
                    <button type="reset" class="btn btn-danger btn-lg">Reset</button> 
                  </center>
                </div>
              </div>
            </form>
          </div>
        </div> <!-- col-sm-8 -->
      </div>
    </div>
  </section>

  <footer id="footer">
    <div class="container">
      <div class="row">
        <%include ./footer %>
      </div>
    </div>
  </footer><!--/#footer-->

</body>
</html>