<!---------------------------------------------------Service Content------------------------------------------------>
<!doctype html>
<html>
  <head>
    <title>Service</title>
    <link rel="stylesheet" href="lib/uni.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  </head>
  <body style="margin: 0; border: 0; display">
    <div id="contenttext">
      <div style ="margin : 30px">
        <br /><label><h4> การใช้งานระบบทางด่วนข้อมูลเครือข่ายเทคโนโลยีสารสนเทศเพื่อพัฒนาการศึกษา  </h4></label><br />
        
        &nbsp;&nbsp;&nbsp;ระบบบริการทางด่วนข้อมูลเครือข่ายเทคโนโลยีสารสนเทศเพื่อพัฒนาการศึกษา เป็นชื่อของระบบเครือข่ายความเร็วสูงที่แยกออกมาจากเครือข่ายบริการปกติ จัดสรรทรัพยากรเครือข่ายเฉพาะสำหรับการวิจัยที่มีความต้องการด้านประสิทธิภาพในการส่งผ่านข้อมูล ทั้งทางด้าน ความเร็วในการส่งผ่านข้อมูล, ความน่าเชื่อถือ, และการรักษาความปลอดภัยข้อมูล สามารถบริการความต้องการที่หลากหลายและรวดเร็วในการตอบสนองต่อการเปลี่ยนแปลงของความต้องการของผู้ใช้ นอกเหนือจากการใช้งานทั่วไป ระบบบริการทางด่วนข้อมูล จึงเป็นระบบที่สำคัญในการขับเคลื่อนงานวิจัยขั้นสูงที่เกี่ยวข้องกับการส่งผ่านข้อมูลขนาดใหญ่ และต้องการคุณภาพการบริการ 
พื้นฐานเทคโนโลยีที่ให้บริการของระบบบริการทางด่วนข้อมูล ประกอบด้วย การสื่อสารผ่านใยแก้วนำแสง Dense Wavelength-division Multiplexing (DWDM), ระบบหาเส้นทางระหว่างโหนด Interior Gateway Protocol (IGP) ของ UniNet ที่เชื่อมต่อระหว่าโหนดแกนหลัก, ระบบ Multi-Protocol Label Switching (MPLS) และระบบ Virtual Private Network ที่ทำงานบน Virtual Routing and Forwarding (VRF) ที่ให้บริการทั้งในระดับ L2-VPN และ  L3-VPN 
ในสองทศวรรษที่ผ่านมา เครือข่ายของสถาบันอุดมศึกษามีการพัฒนาอย่างต่อเนื่อง จึงสามารถปรับให้รองรับเทคโนโลยีเหล่านี้ได้เป็นอย่างดี  ปัจจุบัน (2559) โหนดแกนหลักและโหนดกระจายของ UniNet รองรับเทคโนโลยีเหล่านี้อย่างครบถ้วน เชื่อมต่อที่แบนด์วิดท์ 50 Gbps ในเครือข่ายแกนหลัก และ 10 Gbps ในเครือข่ายกระจาย อีกทั้งบนเครือข่าย UniNet มีกลุ่มของโหนดได้รับการติดตั้งสวิทช์ สวิทช์ดังกล่าวรองรับการทำงานเครือข่ายนิยามโดยซอฟต์แวร์ (Software Defined Network) ที่สามารถควบคุมการทำงานของเครือข่ายได้จากส่วนกลาง สำหรับการจัดการเครือข่ายจากภายในสถาบันการศึกษาสามารถดำเนินการผ่าน Virtual Local Area Network (VLAN) IEEE 802.1q มาสู่จุดบริการของระบบบริการทางด่วนข้อมูล ที่เป็นช่องทางเชื่อมต่อระหว่างจุดบริการของผู้ใช้งานไปสู่จุดบริการเครือข่ายสำหรับงานวิจัยโดยใช้สถาปัตยกรรมร่วมกันผ่าน  L2-VPN หรือ  L3-VPN บนเครือข่ายแกนหลัก ที่ระบบคอมพิวเตอร์ ระบบเก็บข้อมูล และผู้ใช้งานสามารถเข้าถึงทรัพยากรเครือข่ายประสิทธิภาพสูงจากเครือข่ายเสมือน ลดผลกระทบของภาระงานปกติที่ใช้งานร่วมกันกับผู้ใช้ทั่วไป และจัดสรรทรัพยากรได้ตามความต้องการ
<br /><br />
ในโครงการนี้ มีระบบ DMZสำหรับงานวิจัย ติดตั้งที่โหนด PYT1, PYT2, BSE, RMUTR, SLA, และ RMUTT ได้ดำเนินการติดตั้งระบบ SDNController ทำการควบคุม SDNNode จำนวน 6 โหนด อีกทั้งได้เปิดบริการ L2VPN ไปยังโหนดต่างๆ ทั้ง 6 โหนด<br />
<br /><label> ผู้มีสิทธิใช้งานระบบทางด่วนข้อมูล </label><br />

&nbsp;&nbsp;&nbsp;การบริหารผู้ใช้งานระบบบริการทางด่วนข้อมูลเริ่มจาก "สถาบันการศึกษา''  เข้าร่วมเป็นสมาชิกโครงการฯ โดยมีผู้รับผิดชอบด้านเครือข่ายในฐานะตัวแทนสถาบันฯ เพื่อบริหารจัดการการบริการ โดยผู้ที่มีสิทธิเข้าใช้ระบบทางด่วนข้อมูลจะต้องเป็นบุคลากรของสถาบันสมาชิก การบริหารจัดการผู้ใช้งานทำโดยโปรแกรมประยุกต์บนเว็ป ชื่อว่า UniNet Express Lane Services โดยผู้ใช้งานของระบบดังกล่าวแบ่งออกเป็น 3 สถานะ ได้แก่ <br />
1. ผู้สนใจ (Audience) เป็นผู้สมัครเพื่อขอดูข้อมูลเชิงลึกในภาพรวมของการบริการทางด่วนข้อมูลที่ไม่ได้เปิดเผยสำหรับบุคคลทั่วไป <br />
2. สมาชิก (Member User) เป็นสมาชิกที่สามารถขอรับบริการทางด่วนข้อมูล <br />
3. ผู้ดูแลระบบ (Administrator) เป็นผู้บริหารจัดการผู้ใช้งาน และการบริการทางด่วนข้อมูล <br />

<br /><label> ขั้นตอนการสมัครขอรับบริการ </label><br />
1. ผู้ขอใช้งานสมัครเข้าเป็นผู้ใช้งานระบบทางด่วนข้อมูล ทางเว็ปไซต์ของโครงการ <br />
2. รออนุมัติการสมัคร ทางจดหมายอิเล็กทรอนิกส์<br />

<br /><label> ขั้นตอนขอรับบริการ </label><br />
1. ขอรับบริการการใช้งาน ทางเว็ปไซต์ของโครงการ  โดยการร้องขอบริการนั้น ผู้ใช้งานระบุรายละเอียดดังนี้<br />
&nbsp;&nbsp;&nbsp;- MAC Adress ต้นทาง <br />
&nbsp;&nbsp;&nbsp;- MAC Adress ปลายทาง <br />
&nbsp;&nbsp;&nbsp;- เวลาเริ่มใช้งานบริการเปิดใช้ทางด่วนข้อมูล <br />
&nbsp;&nbsp;&nbsp;- เวลาเสร็จสิ้นใช้งานบริการเปิดใช้ทางด่วนข้อมูล <br />
2. รออนุมัติการสมัคร ทางจดหมายอิเล็กทรอนิกส์ โดยผู้ดูแลระบบจะทำการพิจารณาอนุมัติการร้องขอ และเมื่อได้รับการอนุมัติ ผู้ใช้งานสามารถเริ่มใช้งานทางด่วน  สถานะของการร้องขอบริการประกอบด้วย  <br />
&nbsp;&nbsp;&nbsp;- Request เป็นสถานะเริ่มขอใช้บริการโดยยังไม่ถูกอนุมัติจากผู้ดูแลระบบ  <br />
&nbsp;&nbsp;&nbsp;- Approved ผู้ดูแลระบบอนุมัติการร้องขอแล้ว  <br />
&nbsp;&nbsp;&nbsp;- Active บริการที่ร้องขอสามารถใช้งานได้ ขณะนั้น  <br />
&nbsp;&nbsp;&nbsp;- Cancel การร้องขอถูกยกเลิกโดยผู้ดูแลระบบหรือตัวผู้ร้องขอเอง  <br />
&nbsp;&nbsp;&nbsp;- Finish สิ้นสุดการร้องขอตามเวลาที่กำหนด  <br />

3. ใช้งานระบบตามการร้องขอโดยสามารถยกเลิกการขอบริการเองได้<br />

<br /><label> ขั้นตอนการขอยุติการเป็นสมาชิก</label><br />

ผู้ใช้งานสามารถแจ้งผู้ดูแลระบบ และผู้ประสานงานหลักทางจดหมายอิเล็กทรอนิกส์ หรือทางเอกสาร <br />


<br />

<center>
      <img style="width:100%; max-width:500px;"src="ConnectivityMatrix.png" ><br /><br />
      <label>แผนภาพแสดงเชื่อมต่อระหว่างโหนดผ่านMPLSที่ใช้ในระบบทางด่วนข้อมูลเครือข่าย UniNet</label>
</center>
      </div>
    </div>
  </body>
</html>
