<!-- Guest Tab --> 
  
  <div class="col-sm-6" style="margin-bottom: 40px">
      <center>
        <br><br><br>
        <h2><b>You're New?</b></h2>
        <p>Please Sign Up Now!</p>
        <a class="btn btn-primary btn-lg" href="/signup">Sign Up</a>
        <!-- <li>กรอบการบริการ แนวทางปฏิบัติ และนโยบายการใช้งาน ระบบทางด่วนข้อมูลเครือข่าย UniNet</li>
        <a class="btn btn-primary btn-lg" href="/document/pdf1">Download</a> -->
      </center>
  </div>
  <div class="col-sm-6">
      <div class="loginmodal-container">
        <h2><center><b>Please Sign in</b></center></h2><br>
        <% if (typeof(errorMessage) !== 'undefined') { %>
          <div id="alert" class="alert alert-danger"><strong><%= errorMessage %></strong></div>
        <% } %>
        <form action="/signin" method="post">
          <input type="text" name="username" id="username" placeholder="Username" required="true" autofocus>
          <input type="password" name="password" id="password" placeholder="Password" required="true">
          <font size="10px"><b><input type="submit" name="signin" id="signin" class="btn btn-primary btn-lg" value="Sign In" style="margin-top: 5px"></b></font>
        </form>
        <div class="login-help" style="font-size: 16px">
          <a href="/signup">Register</a> - <a href="/repass">Forgot Password</a>
        </div>
      </div>
  </div>